.todo-display {
    font-size: 1.2rem;
    color: #b9542d;
    background-color: #f3f1ef;
    font-weight: 500;
    padding: 2rem 4rem;
    padding-left: 5rem;
    border: #b9542d 1px solid;
    border-left: 2rem solid blueviolet;
    border-radius: 1rem;
    margin: 3rem 0;
    h2 {
        font-size: 1.5rem;
        color: #610345;
        font-weight: 600;
    }
    p {
        margin: 0.5rem;
    }
}