// li:nth-child(even) {
//     border-left: 2rem solid rgb(46, 15, 184);
// }
li {
    font-size: 1.2rem;
    color: #b9542d;
    background-color: #f3f1ef;
    font-weight: 500;
    padding: 2rem 4rem;
    padding-left: 5rem;
    border: #b9542d 1px solid;
    border-left: 2rem solid rgb(173, 84, 62);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

li p {
    margin: 0.5rem;
}

li h2 {
    font-size: 1.5rem;
    color: #610345;
    font-weight: 600;
}

.completed {
    color: rgb(255, 10, 10);
    font-weight: bold;
}

.incompleted {
    display: none;
}

.weekly {
    border-left: 2rem solid rgb(219, 155, 102);
}

.monthly {
    border-left: 2rem solid rgb(80, 160, 49);
}

.annually {
    border-left: 2rem solid rgb(48, 68, 124);
}

.quarterly {
    border-left: 2rem solid rgb(118, 54, 134);
}